<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blog Home - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/blog-home.css" rel="stylesheet">
  
    <style>
      
      .catego {
        color: black;
        font-size: 20px;
        padding-left: 30px;
      }
      .catego_sub {
        color: black;
        font-size: 13px;
        padding-left: 50px;
        
      }
      li {
        margin-bottom: 5px;
      }
      
      
    </style>
    
    
  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container py-5">

      <div class="row py-5">

        

        <!-- Sidebar Widgets Column -->
        <div class="col-md-3">

          <!-- Search Widget -->
          <div class="card-body">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-secondary" type="button">Go!</button>
              </span>
            </div>
          </div>
         

          <!-- Categories Widget -->
          <div class="card my-4">
            <h5 class="card-header">
              Categories
              <a href="/" style="color:black; float:right"><i class="fa fa-cog" aria-hidden="true"></i></a>
            </h5>
            
            <div class="card-body">
              
              <ul class="list-unstyled mb-0" >
                <li>
                  <a href="/" class="catego"><b>About</b></a>
                  
                </li>
                <li>
                  <a href="/project/index" class="catego">Projects</a>
                  <li class="page-item">
                    <a href="#" class="catego_sub">쮸발1?</a>
                  </li>
                  <li class="page-item">
                    <a href="#" class="catego_sub">쮸발2?</a>
                  </li>
                  <li class="page-item">
                    <a href="#" class="catego_sub">쮸발3?</a>
                  </li>
                  <li class="page-item">
                    <a href="#" class="catego_sub">쮸발4?</a>
                  </li>
                </li>
                <li>
                  <a href="#" class="catego">Blogs</a>
                  <li class="page-item">
                    <a href="#" class="catego_sub">쮸발1?</a>
                  </li>
                  <li class="page-item">
                    <a href="#" class="catego_sub">쮸발2?</a>
                  </li>
                  <li class="page-item">
                    <a href="#" class="catego_sub">쮸발3?</a>
                  </li>
                <li>
                  <a href="#" class="catego">etc</a>
                  <li class="page-item">
                    <a href="#" class="catego_sub">쮸쭈발1?</a>
                  </li>
                </li>
              </ul>
                    
            </div>
          </div>
          
          <!-- Side Widget -->
          <div class="card my-4">
            <h5 class="card-header">Side Widget</h5>
            <div class="card-body">
              You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
            </div>
          </div>

        </div>
        
        <!-- Blog Entries Column -->
        <div class="col-md-9">

          <h1 class="my-4 mx-3">Category
            <small> - Setting</small>
          </h1>

          <!-- Blog Post -->
          <div class="card mb-4">
            <!-- Main Image
            <div style="text-align:center; margin-top:25px;">
              <img class="" src="/assets/profile.jpg" width="248px" height="248px" alt="Card image cap">
            </div>
            -->
            
            <!-- Add Category -->
            <div class="card-body">
            
              <form accept-charset="UTF-8" action="/blogs/cate_create" class="new_user" id="new_user" method="GET">
                
                <div class="form-group">
                  <input class="form-control" id="user_email" name="cate_name" type="text" style="width:45%; float:left;" placeholder="Main Category Name is ..">
                  <input class="btn btn-default mx-1" type="submit" value="+" style="float:left; font-weight:bold;">

                </div>
                
              </form>
            </div>
            
            <!-- Add Sub Category & Check -->
            <div class="card-body row">
              <div class="col-md-6 my-2">
              
                <form accept-charset="UTF-8" action="/blogs/subcate_create" class="new_user card px-4 pt-4 pb-2" id="new_user" method="GET">
                  
                  <h3>Project</h3>
                  <ul>
                    <li>
                      쭈발1?
                      <a href="#" style="color:black;"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                      <a href="#" style="color:black;"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    </li>
                    
                  </ul>
                  
                  
                  <div class="form-group">
                    <input type="hidden" value="1" />
                    <input class="form-control mt-3" id="user_email" name="subcate_name" type="text" style="width:70%; float:left;" placeholder="Sub Category Name is ..">
                    <input class="btn btn-default mt-3 mx-1" type="submit" value="Add" style="float:left">
                  </div>
                  
                </form>
              </div>
              
              <div class="col-md-6 my-2">
              
                <form accept-charset="UTF-8" action="#" class="new_user card px-4 pt-4 pb-2" id="new_user" method="GET">
                  
                  <h3>Project</h3>
                  <ul>
                    <li>
                      쭈발1?
                      <a href="#" style="color:black;"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                      <a href="#" style="color:black;"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    </li>
                    
                  </ul>
                  
                  
                  <div class="form-group">
                    <input class="form-control mt-3" id="user_email" name="subcate_name" type="text" style="width:70%; float:left;" placeholder="Sub Category Name is ..">
                    <input class="btn btn-default mt-3 mx-1" type="submit" value="Add" style="float:left">
                  </div>
                  
                </form>
              </div>
              
              
              
              <% @mainCate.each do |mc| %>
              <div class="col-md-6 my-2">
              
                <form accept-charset="UTF-8" action="#" class="new_user card px-4 pt-4 pb-2" id="new_user" method="GET">
                  
                  
                  
                    <h3><%= mc.name %></h3>
                    
                  
                  
                  
                  <div class="form-group">
                    <input class="form-control mt-3" id="user_email" name="subcate_name" type="text" style="width:70%; float:left;" placeholder="Sub Category Name is ..">
                    <input class="btn btn-default mt-3 mx-1" type="submit" value="Add" style="float:left">
                  </div>
                  
                </form>
              </div>
              <% end %>
              
              
              
              
              
            </div>
            
            <!-- Introduce -->
            <div class="card-body">
              <h2 class="card-title mx-3 mt-5" style="font-weight:bold">소개</h2>
              <p class="card-text mx-3" style="font-size:25px;">
                <br>안녕하세요, 저는 김병찬입니다.
                <br>경영학과를 다니다가 컴공으로 전과한 문과생 개발자입니다.
                <br>생각나는 것을 바로바로 웹으로 만드는 것을 좋아해서 그렇게 공부하고 있습니다.
                <br><br>웹은 루비온레일즈로 만들고 지금은 자바 Spring 공부 중입니다.
                <br>공부한 것들, 공부하고 싶은 것들, 제가 좋아하는 것들을 남기고 돌이켜보려고 만들었습니다. 
                <br><br>감사합니다.
              </p>
            </div>
            
            <!-- Education -->
            <div class="card-body">
              <h2 class="card-title mx-3 mt-5" style="font-weight:bold">Education</h2>
              <p class="card-text mx-3" style="font-size:25px;">
                <br><a href="http://cse.koreatech.ac.kr" style="color:black; text-decoration:underline;">한국기술교육대학교</a> 컴퓨터공학부 (2010 ~ 2017)
                <br><a href="https://likelion.net" style="color:black; text-decoration:underline;">멋쟁이사자처럼</a> 5기 (2017.03 ~ 2017.09)
                <br>
            </div>
            
            <!-- Experience -->
            <div class="card-body">
              <h2 class="card-title mx-3 mt-5" style="font-weight:bold">Experience</h2>
              <p class="card-text mx-3" style="font-size:25px;">
                <br><a style="color:black; text-decoration:underline;">창업동아리 메이커스</a> (2016.12 ~ 2017.09)
                <br><a href="https://lora.sktiot.com/contest" style="color:black; text-decoration:underline;">SKT 메이커톤</a> (2016.08)
                <br><a href="https://uni.likelion.org/hackton" style="color:black; text-decoration:underline;">멋쟁이사자처럼 해커톤</a> (2017.09)
                <br>
            </div>
            
            <!-- Pages -->
            <div class="card-body">
              <h2 class="card-title mx-3 mt-5" style="font-weight:bold">Pages</h2>
              <p class="card-text mx-3 mb-5" style="font-size:25px;">
                <br><a href="https://www.facebook.com/oszbottle7" style="color:black;">
                  <i class="fa fa-facebook" aria-hidden="true"> Facebook &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</i></a>

                <a href="https://github.com/nemoland0506" style="color:black;">
                  <i class="fa fa-github" aria-hidden="true"> Github &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</i></a>
                <a href="http://blog.naver.com/kbc91" style="color:black;">
                  <i class="fa fa-folder-o" aria-hidden="true"> Blog</i></a>
                <br>
              </p>
            </div>
            
            
            <div class="card-footer text-muted">
              Posted on October 7, 2017 by
              <b>Nemoland</b>
            </div>
          </div>

          <!-- Pagination -->
          <ul class="pagination justify-content-center mb-4">
            <li class="page-item">
              <a class="page-link" href="#">&larr; Older</a>
            </li>
            <li class="page-item disabled">
              <a class="page-link" href="#">Newer &rarr;</a>
            </li>
          </ul>

        </div>
      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

  </body>

</html>
